@page "/conta/criar"

@inherits ViewModel

<Busy State="@PageState"><h3>Aguarde. Conta sendo criada...</h3></Busy>
<Success State="@PageState"><h3>Conta criada com sucesso!</h3></Success>
<Error State="@PageState" Model="@Error" />

<Form State="@PageState">
    <EditForm Model="@Model" OnValidSubmit="@OnValidSubmitAsync">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <InputText class="form-control" @bind-Value="Model.Nome" placeholder="Nome" />
            <ValidationMessage For="@(() => Model.Nome)" />
        </div>

        <div class="mb-3">
            <InputText class="form-control" @bind-Value="Model.Sobrenome" placeholder="Sobrenome" />
            <ValidationMessage For="@(() => Model.Sobrenome)" />
        </div>

        <div class="mb-3">
            <InputText class="form-control" @bind-Value="Model.Telefone" placeholder="Telefone" />
            <ValidationMessage For="@(() => Model.Telefone)" />
        </div>

        <div class="mb-3">
            <InputText type="email" class="form-control" @bind-Value="Model.Email" placeholder="E-mail" />
            <ValidationMessage For="@(() => Model.Email)" />
        </div>

        <div class="mb-3">
            <InputText class="form-control" @bind-Value="Model.Documento" placeholder="Documento" />
            <ValidationMessage For="@(() => Model.Documento)" />
        </div>

        <div class="mb-3">
            <InputText class="form-control" @bind-Value="Model.NomeMae" placeholder="Nome da sua mãe" />
            <ValidationMessage For="@(() => Model.NomeMae)" />
        </div>

        <div class="mb-3">
            <InputText type="password" class="form-control" @bind-Value="Model.Senha" placeholder="Senha" />
            <ValidationMessage For="@(() => Model.Senha)" />
        </div>

        <div class="mb-3">
            <InputText type="password" class="form-control" @bind-Value="Model.ConfirmarSenha" placeholder="Confirmar senha" />
            <ValidationMessage For="@(() => Model.ConfirmarSenha)" />
        </div>

        <div class="mb-3">
            <InputFile class="form-control" @bind-Value="Model.Arquivo" OnChange="HandleFileChange" />
        </div>

        <button type="submit" class="btn btn-primary">Criar Conta</button>
    </EditForm>
</Form>